<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
{#      <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.min.css' %}">#}
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>Pet food diary</title>
  </head>
  <body>
  <header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <div class="logo me-auto">
    </div>
    <nav id="navbar" class="navbar">
    <ul>
        <h1>
            <a href="">Pet food diary</a>
        </h1>
        {% if user.is_authenticated %}
        <li><a class="nav-link scrollto" href="/logout/">Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="/login/">Login</a></li>
        <li><a class="nav-link scrollto" href="/create_user/">Add user account</a></li>
        {% endif %}
    </ul>
    </nav>
  </div>
  </header>
  <section id="hero">
      <div class="hero-container">
        <h1>Welcome to Pet Food Diary!</h1>
          <h2>Your place to make sure your pet eats healthy</h2>
      </div>
  </section>
  <main id="main">
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Choose what to explore</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <h4 class="title"><a href="/meal/">Meals</a></h4>
                <p>List of all your added meals</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <h4 class="title"><a href="/pet_food/">Pet food</a></h4>
                    <p>List of all available pet food</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <h4 class="title"><a href="/pet/list/">Pets</a></h4>
                    <p>All your pets</p>
                </div>
            </div>
        </div>
    </section>
    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>
  </body>
</html>
