{% extends 'base.html' %}

{% block title %} {{ petFood.name }} details {% endblock %}

{% block content %}
<p>Brand: {{ petFood.brand }}</p>
<p>Name: {{ petFood.name }}</p>
<ul>
    <li>Proteins: {{ petFood.proteins }}</li>
    <li>Fats: {{ petFood.fats }}</li>
    <li>Fiber: {{ petFood.fiber }}</li>
    <li>Ash: {{ petFood.ash }}</li>
    <li>Other: {{ petFood.other }}</li>
</ul>

<a href="/pet_food/update/{{ petFood.id }}" class="golink">Edit</a>
<a href="/pet_food/delete/{{ petFood.id }}" class="golink">Delete</a>
{% endblock %}
